.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 12rem;
}

.containor {
  display: inline-block;
  background-color: dodgerblue;
  text-align: center;
  padding: 2rem;
  border-radius: 1rem;
  transition: 1s;
}
.containor:hover {
  transform: translateY(-1.5rem);
}
.header {
  color: white;
}
.link {
  color: yellow;
  text-decoration: none;
}
.formsheet {
  justify-content: center;
  text-align: center;
}
.formLable {
  font-size: 1.3rem;
  font-weight: 1rem;
}
.formInput {
  margin-left: 0.5rem;
  width: 20rem;
  height: 1rem;
  border-radius: 1rem;
  padding: 0.5rem;
}
.formButton {
  background-color: whitesmoke;
  border: none;
  border-radius: 1rem;
  width: 12rem;
  height: 2rem;
  justify-content: center;
}
.itemPack {
  display: flex;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  width: 47rem;
  border-radius: 1rem;
  margin-top: 1rem;
}

.itemImg {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  padding: 1rem;
}
.itemName {
  margin-right: 1rem;
}
.itemLink {
  margin-top: 1.2rem;
  margin-left: 1rem;
  text-decoration: none;
  color: black;
}
